@if(showHeader){
<app-header title="Horário de aulas"></app-header>
}
<ion-content>
  <ion-card-content>
    <ion-list lines="full">
      <ion-item>
        <ion-icon slot="start" name="chatbox-ellipses-outline"></ion-icon>
        <ion-label>
          <h1>Segunda-feira</h1>
          <ion-text>Educação Infantil</ion-text>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="notifications-outline"></ion-icon>
        <ion-label>
          <h1>Terça-feira</h1>
          <ion-text>Educação Infantil</ion-text>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="pricetags-outline"></ion-icon>
        <ion-label>
          <h1>Quarta-feira</h1>
          <ion-text>Educação Infantil</ion-text>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="pricetags-outline"></ion-icon>
        <ion-label>
          <h1>Quinta-feira</h1>
          <ion-text>Educação Infantil</ion-text>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="pricetags-outline"></ion-icon>
        <ion-label>
          <h1>Sexta-feira</h1>
          <ion-text>Educação Infantil</ion-text>
        </ion-label>
      </ion-item>

    </ion-list>
  </ion-card-content>
</ion-content>