<ion-header translucent="false" class="ion-no-border">
  <ion-toolbar class="ion-text-center">
    <ion-title>Meus Dados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-input label="Outline input" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>


  <ion-input label="Outline input" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>


  <ion-input label="Outline input" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>




</ion-content>