<app-header title="Ajuda"></app-header>
<ion-content>
  <ion-card-content>
    <ion-list lines="full">
      <ion-item button detail="true">
        <ion-icon slot="start" name="chatbox-ellipses-outline"></ion-icon>
        <ion-label>
          <h1>Contato secretária</h1>
          <ion-text>Minhas conversas</ion-text>
        </ion-label>
      </ion-item>

      <ion-item button detail="true">
        <ion-icon slot="start" name="notifications-outline"></ion-icon>
        <ion-label>
          <h1>Contato escola</h1>
          <ion-text>Minha central de notificações</ion-text>
        </ion-label>
      </ion-item>

      <ion-item button detail="true">
        <ion-icon slot="start" name="pricetags-outline"></ion-icon>
        <ion-label>
          <h1>Contato suporte</h1>
          <ion-text>Meus pacotes de desconto</ion-text>
        </ion-label>
      </ion-item>
      <ion-item button detail="true" href="/tabs/meus-dados">
        <ion-icon slot="start" name="newspaper-outline"></ion-icon>
        <ion-label>
          <h1>SAC</h1>
          <ion-text>Minhas informações de conta</ion-text>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-content>