<ion-list lines="none">
  <ion-list-header>Acesso Rápido</ion-list-header>
  <swiper-container pager="false" [slidesPerView]="2" [loop]="false" #slider class="my-custom-slider ion-text-center">
    <swiper-slide (click)="presentActionSheet()">
      <ion-card class="ion-padding">
        <ion-item class="ion-align-items-center">
          <ion-icon style="width: 100%" name="add-outline"></ion-icon>
          <ion-label class="ion-text-center">
            <p>Acesso Rápido</p>
          </ion-label>
        </ion-item>
      </ion-card>
    </swiper-slide>

    <swiper-slide (click)="presentActionSheet()">
      <ion-card class="ion-padding">
        <ion-item class="ion-align-items-center">
          <ion-icon style="width: 100%" name="add-outline"></ion-icon>
          <ion-label class="ion-text-center">
            <p>Acesso Rápido</p>
          </ion-label>
        </ion-item>
      </ion-card>
    </swiper-slide>

    <swiper-slide (click)="presentActionSheet()">
      <ion-card class="ion-padding">
        <ion-item class="ion-align-items-center">
          <ion-icon style="width: 100%" name="add-outline"></ion-icon>
          <ion-label class="ion-text-center">
            <p>Acesso Rápido</p>
          </ion-label>
        </ion-item>
      </ion-card>
    </swiper-slide>

    <swiper-slide (click)="presentActionSheet()">
      <ion-card class="ion-padding">
        <ion-item class="ion-align-items-center">
          <ion-icon style="width: 100%" name="add-outline"></ion-icon>
          <ion-label class="ion-text-center">
            <p>Acesso Rápido</p>
          </ion-label>
        </ion-item>
      </ion-card>
    </swiper-slide>

  </swiper-container>
</ion-list>