<app-header title="Meus Dados"></app-header>

<ion-content class="ion-padding">
  <ion-input class="custom-input" label="Nome" label-placement="floating" fill="outline" value="Murilo dos santos"
    placeholder="Enter text"></ion-input>
  <ion-input class="custom-input" label="RA" label-placement="floating" fill="outline" value="31756878987"
    placeholder="Enter text"></ion-input>
  <ion-input class="custom-input" label="Escola" label-placement="floating" fill="outline" value="E.M. São José"
    placeholder="Enter text"></ion-input>
  <ion-input class="custom-input" label="Professor" label-placement="floating" value="Joana" fill="outline"
    placeholder="Enter text"></ion-input>
  <ion-input class="custom-input" label="Série" label-placement="floating" value="4° ano" fill="outline"
    placeholder="Enter text"></ion-input>
  <ion-input class="custom-input" label="Período" label-placement="floating" value="Manhã" fill="outline"
    placeholder="Enter text"></ion-input>
  <ion-input class="custom-input" label="Turma" label-placement="floating" value="C" fill="outline"
    placeholder="Enter text"></ion-input>
</ion-content>