@if(!(selecionarTurma)){
@if(!(isLoading$ | async)){
<app-header [title]=aluno?.pessoa?.nome></app-header>
}
<ion-content [fullscreen]="true">
  <div>
    <!-- <ion-list-header>Mural de avisos</ion-list-header> -->
    <!-- <app-acesso-rapido></app-acesso-rapido> -->
    <ion-list lines="none">
      <ion-list-header>Destaques</ion-list-header>
      <!-- <ion-list-header>Mural de avisos</ion-list-header> -->
      <swiper-container pager="false" #slider class="my-custom-slider ion-text-center ion-padding">
        <swiper-slide>
          <img src="assets/img/image-example.png" alt="Descrição da imagem">
        </swiper-slide>
        <swiper-slide>
          <img src="assets/img/image-example-2.png" alt="Descrição da imagem">
        </swiper-slide>
      </swiper-container>
    </ion-list>

    <ion-list>
      <ion-row>
        <ion-col size="6">
          <ion-card>
            <ion-item>
              <ion-thumbnail style="display: flex; justify-content: center; align-items: center;">
                <ion-icon style="width: 100%; height: 40%" name="time-outline"></ion-icon>
              </ion-thumbnail>
              <ion-label>
                <p>Horário de aulas</p>
              </ion-label>
            </ion-item>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card>
            <ion-item>
              <ion-thumbnail style="display: flex; justify-content: center; align-items: center;">
                <ion-icon style="width: 100%; height: 40%" name="restaurant-outline"></ion-icon>
              </ion-thumbnail>
              <ion-label>
                <p>Merenda</p>
              </ion-label>
            </ion-item>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card>
            <ion-item>
              <ion-thumbnail style="display: flex; justify-content: center; align-items: center;">
                <ion-icon style="width: 100%; height: 40%" name="document-text-outline"></ion-icon>
              </ion-thumbnail>
              <ion-label>
                <p>Boletim</p>
              </ion-label>
            </ion-item>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card>
            <ion-item>
              <ion-thumbnail style="display: flex; justify-content: center; align-items: center;">
                <ion-icon style="width: 100%; height: 40%" name="calendar-outline"></ion-icon>
              </ion-thumbnail>
              <ion-label>
                <p>Eventos</p>
              </ion-label>
            </ion-item>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card>
            <ion-item>
              <ion-thumbnail style="display: flex; justify-content: center; align-items: center;">
                <ion-icon style="width: 100%; height: 40%" name="person-outline"></ion-icon>
              </ion-thumbnail>
              <ion-label>
                <p>Meus dados</p>
              </ion-label>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-list>


    <ion-list lines="none">
      <ion-list-header class="ion-padding">Novidades</ion-list-header>

      <ion-item button detail="false">
        <ion-avatar slot="start" style="width:45px; height:45px;">
          <img src="https://ionicframework.com/docs/demos/api/list/avatar-finn.png">
        </ion-avatar>
        <ion-label>
          <h3><strong>Nome loja</strong></h3>
          <p>
            <ion-text color="warning">
              <ion-icon name="star-sharp"></ion-icon> 4,6
            </ion-text> .
            <ion-text color="medium">Pizza</ion-text> .
            <ion-text color="medium">6,2 km</ion-text>
          </p>
          <p>
            <ion-text color="medium">40-55 min . R$6,00</ion-text>
          </p>
          <p>
            <ion-chip color="warning">
              <ion-label>
                <ion-icon name="star-sharp"></ion-icon>
                Peça 3 vezes, e ganhe R$ 10
              </ion-label>
            </ion-chip>
          </p>
        </ion-label>
      </ion-item>
      <ion-item button detail="false" *ngFor="let i of [].constructor(10)">
        <ion-avatar slot="start" style="width:45px; height:45px;">
          <img src="https://ionicframework.com/docs/demos/api/list/avatar-finn.png">
        </ion-avatar>
        <ion-label>
          <h3><strong>Nome loja</strong></h3>
          <p>
            <ion-text color="warning">
              <ion-icon name="star-sharp"></ion-icon> 4,6
            </ion-text> .
            <ion-text color="medium">Pizza</ion-text> .
            <ion-text color="medium">6,2 km</ion-text>
          </p>
          <p>
            <ion-text color="medium">40-55 min . R$6,00</ion-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

</ion-content>
}@else{
<h1>hi</h1>
}